@font-face {
    font-family: TechMono;
    src: url('font/ShareTechMono-Regular.ttf');
}
*{
    margin: 0;
    padding: 0;
}

:root
{
    --ch-primario:#232627;
    --ch-enfasis: #f7ce5b;

    --ch-msj-bg: radial-gradient(circle, rgba(28,210,148,1) 24%, rgba(14,140,98,1) 96%);
    --ch-btn-action: #c5a346;


}

.contenedor-global
{
    background-color: var(--ch-primario);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    font-family: TechMono;
    color: var(--ch-enfasis);
}
.panel-lateral
{
    flex-grow: 1;
    border-right: 2px solid var(--ch-enfasis);

    display: flex;
    flex-direction: column;
}
.contenedor-contenido
{
    flex-grow:2;
}
.contenido
{
    height: 100%;
    display:flex;
    flex-direction: column;
}

/*
   En este caso para lograr el item scrollable
   los elementos header y footer dentro contenedor 
   llamado .contenido deben tener un alto minimo
   con min-height y el contenedor .mensajes 
*/
.contenido header,
.contenido footer
{
    flex-grow: 1;
    min-height: 70px;
}
.contenido .mensajes
{
    flex-grow: 5;
    overflow-y: scroll;
}

.contacto-info
{
    border-bottom: 2px solid var(--ch-enfasis);
    display: flex;
}
.contacto-detalles{
    flex-grow:1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 5px;
}
.contacto-detalles span{
    display: block;
}
.contacto-foto
{
    /* flex:1 0 ; flex: flex-grow flex-shrink */
    min-width: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}

 img{
    border-radius: 5px;
}
.contacto-opciones{
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacto-desplegable{
    position:absolute;
    top: 60px;
    right: 0;

    height: 60px;
    width: 150px;
    /* border: 1px solid var(--ch-enfasis);
    border-radius: 5px; */

}
.opciones-desplegable{ /* este es el ul que contiene los items del desplegable */
    list-style:none;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.opciones-desplegable li{
    /* tamaño de las cintas que contiene el menu desplegable */
    height: 30px;
    width: 100%;
}
.opciones-desplegable li button{
    border: none;
    width: 100%;
    height: 30px;
    font-size: 1em;

    color: var(--ch-primario);
    background-color: var(--ch-enfasis);
    font-weight: bold;
    text-align: center;

}
.btn-superior{
    border: none;
    border-radius: 5px 5px 0px 0px;
}
.btn-inferior{
    border:none;
    border-radius: 0px 0px 5px 5px;
}
.opciones-desplegable button:active{
    background-color: var(--ch-btn-action);
}
.nuevo-mensaje
{
    border-top: 2px solid var(--ch-enfasis);
    display: flex;
    align-items: center;
}
.fila-msj
{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: var(--ch-enfasis);

}

.fila-nuevo-msj
{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.mensaje
{
    /* background:  var(--ch-msj-bg);
    color: var(--ch-primario); */
    padding: 5px 15px;
    border-radius: 8px;
    margin: 15px 30px;

    background: var(--ch-primario);
    color: var(--ch-enfasis);
    border: 0.5px solid var(--ch-enfasis);
    /* box-shadow: 0px 0px 5px 2px var(--ch-enfasis); */

}

.msj-enviado
{
    justify-content: flex-start;
}
.msj-recibido
{
    justify-content: flex-end;
}

#txtMensaje{
    width: 70%;
    font-size: 1em;
    background-color: var(--ch-primario);
    border: 0.5px solid var(--ch-enfasis);
    border-radius: 8px;
    font-weight: bold;
    text-indent: 0.5em;
    color: var(--ch-enfasis);
}
#txtMensaje:focus-visible
{

    outline: 1.5px solid var(--ch-enfasis);
    text-indent: 0.5em;

}

#txtMensaje::placeholder
{
    text-indent: 0.5em;
}

#btnEnviar{
    width: 20%;
    font-size: 1em;
    height: 2.5em;
    border: solid 1px var(--ch-enfasis);
    /* border-radius: 5px; */
    margin: 5px 0;
}

#btnLlamar{
    font-size: 2em;
    height: 1.5em;
    width: 1.2em;
}


#btnDesplegable{
    height: 1.5em;
    font-size: 2em;
}
.ocultar-desplegable
{
    display: none;
}


.btn{
    color: var(--ch-primario);
    background-color: var(--ch-enfasis);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}
.btn:active{
    background-color: var(--ch-btn-action);
    border-color:     var(--ch-btn-action);
}

.mensajes::-webkit-scrollbar,
.chats-info::-webkit-scrollbar
{
    background-color: var(--ch-primario);
    width: 8px;
}
.mensajes::-webkit-scrollbar-thumb,
.chats-info::-webkit-scrollbar-thumb{
    background-color: var(--ch-enfasis);
}

.chat
{
    display:flex;
    padding:5px 0px;
    border-bottom: 1px solid var(--ch-enfasis);
}

.chats-info{
    flex-grow: 2;

    overflow-y: scroll;
    display: flex;
    flex-direction:column;
}

.chats-info:hover
{
    cursor: pointer;
}

.perfil-nav{
    flex-grow:1;
    min-height: 75px;

    display: flex;
    flex-direction: row;
    
    border-bottom: 3px solid var(--ch-enfasis);
}
