/*Debug
 *{
    border:red solid 1px;
    box-sizing: border-box;
}
/* END debug*/

*,html{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html
{
    height: 100%;
}
nav{
    border: 3px solid black;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0; 
}
.pagina{
    width:70%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

/* .cuadrilla{
        
    border: black 2px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 7px;
} */

.item{
    border: black 2px dashed;
    height: 18em;
    padding: 1em;
}
.contenido-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.contenido-item .titulo
{
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pagina footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagina footer button
{
    height: 2.4em;
    margin: 0.5em 1.2em;
    width: 1.7em;
}


nav span.titulo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
    line-height: 2em;
}

.precio-item{

    font-weight: bolder;

}

@media (min-width:1821px){
    nav img
    {
        height: 7em;
        width: 7em;
    } 
        .contenido-item img
        {
            height: 150px;
            width: 125px;
            flex-shrink: 0;
        }
    .cuadrilla{
        
        border: black 2px solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border-radius: 7px;
    }
}


@media (max-width:1820px) {
    
    nav img
{
    height: 7em;
    width: 7em;
} 
    .contenido-item img
    {
        height: 150px;
        width: 125px;
        flex-shrink: 0;
    }
    .cuadrilla{
        
        border: black 2px solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        border-radius: 7px;
    }
}
@media (max-width:1440px) {
    
    nav img
{
    height: 10em;
    width: 10em;
} 
.contenido-item img
{
    height: 100px;
    width: 75px;
    flex-shrink: 0;
}
    .cuadrilla{
        
        border: black 2px solid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-radius: 7px;
    }
    
    
}

@media (max-width:1024px) {

    nav img
    {
        height: 5em;
        width: 5em;
    } 
    .contenido-item img
    {
        height: 125px;
        width: 100px;
        flex-shrink: 0;
    }
    
    .cuadrilla{
        
        border: black 2px solid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 7px;
    }   
}

@media (max-width:720px) {
    
    .contenido-item img
{
    height: 100px;
    width: 75px;
    flex-shrink: 0;
}
    .contenido{
        flex-direction: column;
        justify-content: center;
    }

    nav{
        align-self: flex-start;
        width: 100%;
    }
    .pagina{width: 100%;}
    
    .cuadrilla{
        
        border: black 2px solid;
        display: grid;
        grid-template-columns: 1fr;
        border-radius: 7px;
    }   
}